.profBox{
    margin-left: 19%;
    width: 1070px;
    height: Fixed (415px);
    margin-left: 220px;
    margin-top: -940px;
    padding: 32px;
    gap: 51px;
    background-color: antiquewhite;

}
.hugg{
    width: 100%;
}